<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="ProjectPath" value="\\bin\\debug\\" />
    <add key="AssemblyName" value="EntityFrameworkInventory" />
    <add key="Repository" value="Repository" />
    <!-- <<< If you named your project something different, enter your namespace name here <<<-->
  </appSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/InventoryModel.csdl|res://*/InventoryModel.ssdl|res://*/InventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vdjro58wnr.database.windows.net,1433;initial catalog=ITP236-Inventory-Spring2015;persist security info=True;user id=StudentLogin;password=@Spring2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Project3GraderEntities" connectionString="metadata=res://*/Project3GraderModel.csdl|res://*/Project3GraderModel.ssdl|res://*/Project3GraderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vdjro58wnr.database.windows.net,1433;initial catalog=ITP236-Inventory-Spring2015;persist security info=True;user id=StudentLogin;password=@Spring2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>